* {
  color: #3b3b3b;
}

body {
  background-color : #f6f6f6;
}

input:first-letter {
  text-transform: capitalize;
}

/*Font weights*/
.light { font-weight: 300 !important; }
.regular { font-weight: 400 !important; }
.bold { font-weight: 500 !important; }
/*Colors*/
.black { color: #3b3b3b !important; }
.light-gray { color: #909090 !important; }
.gray { color: #666 !important; }

.xsmall{ font-size: .8rem; }
.small{ font-size: 1rem; }
.medium{ font-size: 1.3rem; }
.large{ font-size: 1.5rem; }

.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }
